apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  namespace: apps-argocd # This will be overridden by ArgoCD destination usually, but good to have.
  labels:
    app: sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: quay.io/openshifttest/hello-openshift:latest
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: sample-app
  labels:
    app: sample-app
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: sample-app
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: sample-app
spec:
  to:
    kind: Service
    name: sample-app
  port:
    targetPort: 8080
  tls:
    termination: edge
